// my colors
@gray-light: #666666; 
@gray-lighter: #999999; 
@body-bg: #ffffff; 
@gray: #545454; 

//navigation
@nav-link-padding:                          10px 15px;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   #ddd;

#logo-main{
	padding-top: 3px; 
	padding-left: 30%; 
}
.main-container, .navbar-fixed-top{
	margin-top: 25px; 
}
ul.nav.navbar-nav.pull-right{
	padding-right: 5%; 
}
.navbar-default{
	border: none; 
	background-color: #ffffff; 
}
